profiles{
        mitofates {
        docker.enabled = true
        process.container = 'mitofates:latest'
        }

        tppred3 {
        docker.enabled = true
        process.container = 'tppred3:latest'
        }

        targetp2 {
        docker.enabled = true
        process.container = 'targetp2:latest'
        }

        signalp6 {
        docker.enabled = true
        process.container = 'signalp6:latest'
        }
}