profiles{
        standard{
                docker.enabled = true

                params.org_signalp6 = "eukarya"
                params.org_tagetp2 = "non-pl"
                params.org_tppred3 = "N"
                params.org_mitofates = "metazoa"
                params.org_wolfpsort = "animal"

                params.run_mitofates = true
                params.run_wolfpsort = true
                params.run_tppred3 = true
                params.run_deeploc2 = true
                params.run_targetp2 = true
                params.run_signalp6 = true

                params.deeploc2_model = "Fast"
                params.signalp6_model = "fast"
        }
        docker {
                docker.enabled = true
        }

        singularity {

        }

        fast{
                params.deeploc2_model = "Fast"
                params.signalp6_model = "fast"
        }

        accurate{
                params.deeploc2_model = "Accurate"
                params.signalp6_model = "slow"
        }



        animal{
                params.org_signalp6 = "eukarya"
                params.org_tagetp2 = "non-pl"
                params.org_tppred3 = "N"
                params.org_mitofates = "metazoa"
                params.org_wolfpsort = "animal"

        }

        fungi{
                params.org_signalp6 = "eukarya"
                params.org_tagetp2 = "non-pl"
                params.org_tppred3 = "N"
                params.org_mitofates = "fungi"
                params.org_wolfpsort =  "fungi"

        }

        plant{
                params.org_signalp6 = "eukarya"
                params.org_tagetp2 = "pl"
                params.org_tppred3 = "P"
                params.org_mitofates = "plant"
                params.org_wolfpsort =  "plant"
                

        }

        bacteria{
                params.org_signalp6 = "other"
                params.org_tagetp2 = "non-pl"
                params.org_tppred3 = null
                params.org_mitofates = null
                params.org_wolfpsort = null
                
                params.run_mitofates = false
                params.run_wolfpsort = false
                params.run_tppred3 = false
                params.run_deeploc2 = false
                params.run_targetp2 = true
                params.run_signalp6 = true


        }

        all{
                params.mitofates = true
                params.wolfpsort = true
                params.tppred3 = true
                params.deeploc2 = true
                params.targetp2 = true
                params.signalp6 = true
        }

        signal{
                params.run_mitofates = false
                params.run_wolfpsort = true
                params.run_tppred3 = false
                params.run_deeploc2 = true
                params.run_targetp2 = true
                params.run_signalp6 = true

        }

        mito{
                params.run_mitofates = true 
                params.run_wolfpsort = true
                params.run_tppred3 = true
                params.run_deeploc2 = true
                params.run_targetp2 = true
                params.run_signalp6 = false

        }

        general_only{
                params.run_mitofates = false
                params.run_wolfpsort = true
                params.run_tppred3 = false
                params.run_deeploc2 = true
                params.run_targetp2 = false
                params.run_signalp6 = false

        }

        mito_only{
                params.run_mitofates = true 
                params.run_wolfpsort = false
                params.run_tppred3 = true
                params.run_deeploc2 = false
                params.run_targetp2 = true
                params.run_signalp6 = false
        }

        signal_only{
                params.run_mitofates = false
                params.run_wolfpsort = false
                params.run_tppred3 = false
                params.run_deeploc2 = false
                params.run_targetp2 = true
                params.run_signalp6 = true
        }
        



}

params.chunks = 1
params.accurate = false
params.fasta = "*.fasta"
params.software = null