
docker.enabled = true

// default organsims
params.org_signalp6 = "eukarya"
params.org_targetp2 = "non-pl"
params.org_tppred3 = "N"
params.org_mitofates = "metazoa"
params.org_wolfpsort = "animal"

// default software to run
params.run_mitofates = true
params.run_wolfpsort = true
params.run_tppred3 = true
params.run_deeploc2 = true
params.run_targetp2 = true
params.run_signalp6 = true
params.run_tmhmm2 = true

// default mode for Machine learning based tools
params.deeploc2_model = "Fast"
params.signalp6_model = "fast"

// This defines the number of chunks any input fasta file will be split into
params.chunks = 1

// this defines the number of sequences per chunk
params.pseq = "default"

// default input file source i.e. any fasta file in the directory the pipeline is called from
params.fasta = "*.fasta"

// Parameter that gives the run a name
params.name = null

// input source for a uniprot proteome fasta file, using this switches on the uniprot proteome splitting program
params.uniprot_fasta = null

// determines how many software need to agree to count a prediction
params.threshold = 0

// profiles for environments
profiles{
        docker {
                docker.enabled = true
        }

        singularity {

        }
}

// profiles for mode of programs
profiles{
        fast{
                params.deeploc2_model = "Fast"
                params.signalp6_model = "fast"
        }

        accurate{
                params.deeploc2_model = "Accurate"
                params.signalp6_model = "slow"
        }
}

// profiles for organism of origin
profiles{
        animal{
                params.org_signalp6 = "eukarya"
                params.org_targetp2 = "non-pl"
                params.org_tppred3 = "N"
                params.org_mitofates = "metazoa"
                params.org_wolfpsort = "animal"

        }

        fungi{
                params.org_signalp6 = "eukarya"
                params.org_targetp2 = "non-pl"
                params.org_tppred3 = "N"
                params.org_mitofates = "fungi"
                params.org_wolfpsort =  "fungi"

        }

        plant{
                params.org_signalp6 = "eukarya"
                params.org_targetp2 = "pl"
                params.org_tppred3 = "P"
                params.org_mitofates = "plant"
                params.org_wolfpsort =  "plant"
                

        }

        bacteria{
                params.org_signalp6 = "other"
                params.org_targetp2 = "non-pl"
                params.org_tppred3 = null
                params.org_mitofates = null
                params.org_wolfpsort = null
                
                params.run_mitofates = false
                params.run_wolfpsort = false
                params.run_tppred3 = false
                params.run_deeploc2 = false
                params.run_targetp2 = true
                params.run_signalp6 = true
                params.run_tmhmm2 = true


        }
}

// profiles defining which prediction software is to be used
profiles{
        all{
                params.run_mitofates = true
                params.run_wolfpsort = true
                params.run_tppred3 = true
                params.run_deeploc2 = true
                params.run_targetp2 = true
                params.run_signalp6 = true
                params.run_tmhmm2 = true
        }

        choose{
                params.run_mitofates = false
                params.run_wolfpsort = false
                params.run_tppred3 = false
                params.run_deeploc2 = false
                params.run_targetp2 = false
                params.run_signalp6 = false
                params.run_tmhmm2 = false
        }

        signal{
                params.run_mitofates = false
                params.run_wolfpsort = true
                params.run_tppred3 = false
                params.run_deeploc2 = true
                params.run_targetp2 = true
                params.run_signalp6 = true
                params.run_tmhmm2 = true
        }

        mito{
                params.run_mitofates = true 
                params.run_wolfpsort = true
                params.run_tppred3 = true
                params.run_deeploc2 = true
                params.run_targetp2 = true
                params.run_signalp6 = false
                params.run_tmhmm2 = false

        }

        general_only{
                params.run_mitofates = false
                params.run_wolfpsort = true
                params.run_tppred3 = false
                params.run_deeploc2 = true
                params.run_targetp2 = false
                params.run_signalp6 = false
                params.run_tmhmm2 = false

        }

        mito_only{
                params.run_mitofates = true 
                params.run_wolfpsort = false
                params.run_tppred3 = true
                params.run_deeploc2 = false
                params.run_targetp2 = true
                params.run_signalp6 = false
                params.run_tmhmm2 = false
        }

        signal_only{
                params.run_mitofates = false
                params.run_wolfpsort = false
                params.run_tppred3 = false
                params.run_deeploc2 = false
                params.run_targetp2 = true
                params.run_signalp6 = true
                params.run_tmhmm2 = true
        }
}


